<mat-card>
    <mat-card-title>
        <div class="title-container">
            <div>
                {{name}}
            </div>
            <div class="separator"></div>
            <div class="mat-subheading-2">
                Created at: {{response.created_at.toLocaleString('ru')}}
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="response.fields" class="table">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> Field # </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Field name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef > Data </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'color_red': answer_color(element) === 'red', 'color_green': answer_color(element) === 'green'}">
                    {{element.data}}
                </td>
            </ng-container>
            <ng-container matColumnDef="correct_answer">
                <th mat-header-cell *matHeaderCellDef> Correct answer </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.correct_answer != undefined; else no_correct_answer">
                        {{element.correct_answer}}
                    </div>
                    <ng-template #no_correct_answer>
                        <div>
                            <i>No correct answer</i>
                        </div>
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
