.table {
    width: 100%;
}

.title-container {
    display: flex;
}

.separator {
    margin-left: auto;
    margin-right: auto;
}

.color_red {
    color: red;
}

.color_green {
    color: yellowgreen;
}
