.description-textarea {
    width: 100%;
    font-size: 14pt;
}

.title-input {
    font-size: 16pt;
}

.question-count-input {
    font-size: 14pt;
}
  
.container {
    margin: 1rem 0.25rem 1rem 0.25rem;
}